@font-face {
  src: url("fonts/LEMONMILK-Regular.ttf") format("opentype");
  font-family:lemonmilk;
}

@font-face {
  src: url("fonts/Menlo-Regular.ttf") format("opentype");
  font-family:menlo;
}

/* LOGIN DROPDOWN */
.dropdown-menu {
  width: 200px;
}

/* FOOTER */
footer {
  background-color: #fff9e8;
}
.footer-links {
  list-style-type: none;
}
footer .fab {
  height: 20px;
  width: 20px;
}

.product-list {
  list-style-type: none;
}
.sort-list {
  list-style-type: none;
}

.search {
  border: 1px solid grey;
  border-radius: 20px;
  width: 150px;
  height: 30px;
}

/*  */
.button-add-products {
  background-color:#ffffff;
  color:#333333;
  border: 1px solid #333333;
  font-size: 17px;
  white-space: nowrap;
}

.button-add-products:hover {
  color:#afafaf;
  background-color:#ffffff;
  border: 1px solid #afafaf;
  white-space: nowrap;
}

.button-add-products:active{
  color:#afafaf;
  background-color:#ffffff;
  border: 1px solid #afafaf;
  white-space: nowrap;
}

.button-products {
  float:right;
  margin-right:-1.4%;
  background-color:#ffffff;
  color:#333333;
  border:0;
  border-bottom: 1px solid #333333;
}

.button-products:hover {
  color:#afafaf;
  background-color:#ffffff;
  border-bottom: 1px solid #afafaf;
}

.button-products:active {
  color:#afafaf;
  background-color:#ffffff;
  border-bottom: 1px solid #afafaf;
}

.logotype {
  width:120px;
  height: 120px;
}

.card-title, card-text {
  
}

.products {
  display: block;
}

.button-view-more {
  margin-right:-1.4%;
  background-color:#ffffff;
  color:#333333;
  border:0;
  border-bottom: 1px solid #333333;
  font-size: 18px;
}

.button-view-more:hover {
  color:#afafaf;
  background-color:#ffffff;
  border-bottom: 1px solid #afafaf;
}

.button-view-more:active{
  color:#afafaf;
  background-color:#ffffff;
  border-bottom: 1px solid #afafaf;
}

.navbar {
  box-shadow: 5px 3px 2px #eee;
  background-color: #fff;
  font-family:lemonmilk;
  color:#333333; 
}

.carousel-caption {
  color: #000;
  background-color: #fff;
  width: 300px;
  margin-bottom: 8rem;
  
}

.carousel2{
  font-size:15px;
}


/* IKONER SOCIALA MEDIER FÖLJ OSS */

.fa-facebook-square {
  color: #3b5999;
  font-size: 30px;
}

.fa-instagram-square {
  color: #e4405f;
  font-size: 30px;
}

.fa-twitter-square {
  color: #55acee;
  font-size: 30px;
}

/* KNAPPAR FÖR REDIGERA OCH TA BORT */

.knappar{

}

.button-delete {
margin-left:5px;
}
  
.button-edit:hover {
color:white;
background-color: #afafaf;
}

.button-delete:hover {
  color:white;
  background-color:#afafaf;
  
}

/* KONTAKT */ 

.companyinfo{
  font-size: 17px;
  line-height: 220%;
  background-color:#FFF8E7;
  margin-left:-20%;
  padding-left:10%;
  padding-right:2%;
  padding-top:2%;
  padding-bottom:2%;
}

.inforubrik{
  margin-left:-10%;
}

.environmentinfo{
  font-size: 17px;
  line-height: 220%;
  background-color:#FFF8E7;
  margin-right:-20%;
  padding-right:10%;
  padding-left:2%;
  padding-top:3%;
  padding-bottom:3%;
}

.environmentrubrik{
  margin-left: %;
}

.environment{
  padding-top:3%;
}

h6, h5{
  font-family:lemonmilk;
  color:#333333;
}

/* KASSA */ 

.basket{
  margin-left:10%;
  padding-left:3%;
  border: 1px solid #333333;
  margin-bottom:25%;
  margin-right:10%;
}

.product-cost, .shipping, .total-price{
  border-bottom: 1px solid #333333;
  padding-bottom:2%;
  margin-right:12%;
}

.checkout-preview{
  width:90px;
  height:110px;
  margin-top:4%;
  margin-bottom:30%;
}

.checkout-product{
  float:right;
  display:block;
  margin-right:40%;
  margin-top:-55%;
}

/* PRODUKTER */ 

.card-title{
  font-size:15px;
}

.card-text{
  font-size:15px;
  font-family:menlo;
}

/* PRODUKT */ 

.pris{
  font-family:menlo;
}
